.checkbox {
    float: left;
    margin: 0;
}

.btn-remove {
    float: right;
}

.complete {
    text-decoration: line-through;
}

.todo-input-container {
    margin: 1em auto;
}

.todo-list {
    margin-bottom: 0;
}

.nav > li > a.active,
.nav > li > a.active:hover,
.nav > li > a.active:focus {
    color: #ffffff;
    background-color: #158cba;
}

.nav > li > a.active > .badge {
  color: #158cba;
  background-color: #ffffff;
}
