.checkbox {
    float: left;
    margin: 0;
}

.btn-remove {
    float: right;
}

.complete {
    text-decoration: line-through;
}

.todo-input-container {
    margin: 1em auto;
}

.todo-list {
    margin-bottom: 0;
}
